<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-icons">
      <a href="https://linkedin.com/in/rory-byrne1" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/rorybyrne1" target="_blank" aria-label="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="mailto:rory26byrne@gmail.com" aria-label="Email">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
    <span> Made by Rory Byrne © {{ site.time | date: "%Y" }} </span>
  </div>
</footer>