@import url('colors.css');

body {
  background-color: var(--background);
}

/* header and footer styles */
.site-header {
  font-family: var(--accent-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem 0rem 0rem;
  font-size: 1rem;
  color: var(--body-text);
}

.site-title {
  font-family: var(--accent-font);
  font-size: 3em;
  margin-bottom: 8px;
  text-decoration: none;
  color: var(--body-text);
  transition: letter-spacing 0.5s ease;
}

.site-title:hover {
  letter-spacing: 3%;
  color: var(--body-text);
}

.header-nav a {
  font-family: var(--accent-font);
  text-decoration: none;
  color: var(--body-text);
  margin: 0 0.2rem;
  font-weight: 500;
  transition: color 0.25s ease;
}

.header-nav a:hover {
  color: var(--accent-text);
}

.site-footer {
  font-family: var(--accent-font);
  padding: 0.7rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* =========================== */

/* site content styles */
html, body.site {
  font-family: var(--body-font);
  color: var(--body-text);
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--accent-font);
  color: var(--title-text);
}

h1 {
  margin-top: 0.2em;
}

body.site {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  align-items: center;
}

.site-content {
  flex: 2;
  padding: 1.2rem 0rem;
  width: 45rem;
}

.home-title {
  font-size: 8em;
  text-decoration: none;
  margin-top: 1.5em;
  margin-bottom: 0.2em;
  font-family: var(--accent-font);
  color: var(--body-text);
}

.home-content {
  flex: 2;
}

.about-text a {
  text-decoration: none;
}

.image {
  /* border-radius: 1rem; */
  width: 13rem;
}

.devlog-item {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

.devlog-item:hover {
  color: inherit;
}

.devlog-item:hover .devlog-title h2 {
  color: var(--title-hover)
}

.devlog-title {
  font-family: var(--accent-font);
  margin: 2rem 1rem 0.5rem 1rem;
}

.devlog-title h2 {
  margin: 0;
}

.devlog-big-title {
  font-family: var(--accent-font);
}

.devlog-big-title h1 {
  margin-bottom: 0;
}

.devlog-content {
  margin: 0 2rem 1rem 2rem;
}

a {
  font-family: var(--body-font);
  color: var(--accent-text);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--accent-hover);
}

ul {
  list-style: none;
  gap: 0.1em;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
}

ul a {
  font-family: var(--accent-font);
}

ul li::before {
  content: "> ";
  font-family: var(--accent-font);
  margin-right: 0.3em;
}

.contact-icons ul {
  font-size: 1.4rem;
  gap: 0.4rem;
}
/* =========================== */

.project-tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 2rem;
}

.project-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  text-align: center;
}

.project-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-top: 4px solid #8f8f9d;
  border-left: 4px solid #8f8f9d;
  border-bottom: 4px solid #5f5f68;
  border-right: 4px solid #5f5f68;
  transition: border-color 0.2s ease;
  display: block; 
}

.project-title {
  margin-top: 0.3rem;
  font-size: 1.2rem;
  font-family: var(--accent-font);
  color: var(--body-text);
  transition: color 0.2s ease;
}

.project-tile:hover .project-image {
  border-color: var(--accent-text);
}

.project-tile:hover .project-title {
  color: var(--accent-text);
}

.code {
  background: #23272e;
  color: #f8f8f2;
  font-family: "Fira Mono", "Consolas", monospace;
  font-size: 0.8em;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  border-radius: 8px;
  overflow-x: auto;
  line-height: 1.3;
  white-space: pre;
}

.image-tiles {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
}

.image-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* cursor: pointer; */
  border-radius: 7%;
  overflow: hidden;
}

.tile-cover {
  width: 100%;
  object-fit: cover;
  display: block;
}

.tile-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s;
  text-align: center;
  font-size: 0.8rem;
  pointer-events: none;
}

.image-tile:hover .tile-info,
.image-tile:focus .tile-info {
  opacity: 1;
  pointer-events: auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem 3.5rem;
}

.gallery-of-fame {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem 3rem;
}

.gallery-date {
  font-family: var(--accent-font);
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}

.photo {
  max-width: 100%;
}

.photo-gallery-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.small-text {
  margin-top: 0.3rem;
  font-size: 0.9rem;
  color: var(--body-text);
  font-style: italic;
}

.cv-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}

.cv-entry {
  font-family: var(--accent-font);
  padding: 0rem 1rem;
}

.cv-entry strong {
  font-size: 1.1em;
  color: var(--title-text);
  font-family: var(--accent-font);
}

.cv-notes {
  font-family: var(--body-font);
  font-size: 0.9em;
  padding-left: 0.5em;
  margin: 0.5rem 0 0 0;
}

.cv-where {
  font-size: 0.9em;
  font-style: italic;
}

/* draw */
.draw-grid {
  display: grid; grid-template-columns: repeat(24, 20px);
  margin-bottom: 1em;
}

.draw-cell {
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid var(--draw-grid);
  box-sizing: border-box;
}

.draw-cell.on {
  background: var(--draw-grid);
}

.draw-buttons {
  margin-bottom: .5em;
}

.draw-button {
  border-radius: 0;
  margin-right: 0.1rem;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  color: var(--body-text);
  background-color: #e9e9ed;
  border-top: 2px solid #8f8f9d;
  border-left: 2px solid #8f8f9d;
  border-bottom: 2px solid #5f5f68;
  border-right: 2px solid #5f5f68;
}

.draw-button:hover {
  background-color: #D0D0D7;
  border-top: 2px solid #676774;
  border-left: 2px solid #676774;
  border-right: 2px solid #45454D;
  border-bottom: 2px solid #45454D;
}

.draw-button:active {
  background-color: #B1B1B9;
  border-top: 2px solid #303036;
  border-left: 2px solid #303036;
  border-right: 2px solid #484851;
  border-bottom: 2px solid #484851;
}
/*======*/

.skills {
  margin-top: 1.5em;
  margin-bottom: -0.4em;
}

/* for phones */
@media (max-width: 740px) {
  .home-title {
    margin-top: 2em;
    font-size: 16vw;
  }

  .draw-button {
    font-size: 0.8rem;
  }

  .site-content {
    width: 90vw;
    border-radius: 0;
  }

  .devlog-content {
    margin: 0 0.5rem 1rem 0.5rem;
    padding: 0.5 0.5rem;
  }

  .image-tiles {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .gallery-of-fame {
    display: grid;
    max-width: 99%;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 2.5rem;
  }

  .cv-entry {
    padding: 0 0.5rem;
  }

  .project-tiles {
    grid-template-columns: repeat(2, 1fr);
    .project-title {
      font-size: 1rem;
    }
  }
}

@media (max-width: 540px) {
  .draw-grid {
    display: grid; grid-template-columns: repeat(24, 3.8vw);
  }

  .draw-cell {
    width: 3.8vw;
    height: 3.8vw;
    background: white;
    border: 1px solid var(--body-text);
    box-sizing: border-box;
  }
}

@media (max-width: 400px) {
  .site-content {
    width: 90vw;
  }
}