@import url('colors.css');

/* header and footer styles */
.site-header {
  font-family: "Fira Code", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem;
  font-size: 1rem;
  color: var(--body-text);
}

.header-nav a {
  text-decoration: none;
  color: var(--body-text);
  margin: 0 0.2rem;
  font-weight: 500;
  transition: color 0.2s ease;
}

.header-nav a:hover {
  color: var(--body-hover);
}

.site-footer {
  font-family: var(--accent-font);
  padding: 0.7rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icons {
  font-size: 1.6rem;
}
/* =========================== */

/* site content styles */
html, body.site {
  font-family: var(--body-font);
  color: var(--body-text);
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--accent-font);
  color: var(--title-text);
}

body.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.site-content {
  flex: 2;
  padding: 1.5rem 0rem;
  width: 45rem;
  background: white;
  border-radius: 8px;
}

.devlog-item {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

.devlog-item:hover {
  color: inherit;
}

.devlog-title {
  font-family: var(--accent-font);
  margin: 2rem 1rem 0.5rem 1rem;
}

.devlog-title h2 {
  margin: 0;
}

.devlog-content {
  margin: 0 2rem 1rem 2rem;
  padding: 0rem 1rem;
  border: 2px solid var(--body-hover);
  border-radius: 8px;
}

.image {
  border-radius: 16px;
}

a {
  font-family: var(--accent-font);
  color: var(--accent-text);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--accent-hover);
}

ul {
  font-family: var(--accent-font);
  list-style: none;
  padding-left: 1.2em;
  gap: 0.3em;
  display: flex;
  flex-direction: column;
}

ul li::before {
  content: "> ";
  color: var(--accent-text);
  margin-right: 0.3em;
}
/* =========================== */