@import url('colors.css');

/* header and footer styles */
.site-header {
  background: var(--header-bg);
  /* color: var(--charcoal); */
  border-bottom: var(--header-border) solid 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 2rem 0.7rem 2rem;
}

.header-title {
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  color: var(--header-text);
  text-decoration: none;
  letter-spacing: 2px;
}

.header-nav {
  padding: 0rem 2rem;
  font-size: 1.2rem;
  color: var(--header-text);
}

.header-nav a {
  text-decoration: none;
  color: var(--header-text);
  margin: 0 0.5rem;
  font-weight: 500;
  transition: color 0.2s ease;
}

.header-nav a:hover {
  color: var(--header-hover);
}

.site-footer {
  background: var(--footer-bg);
  border-top: var(--footer-border) solid 0.3rem;
  padding: 0.7rem 2rem;
}

.site-footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.footer-icons {
  display: flex;
  gap: 0.5rem;
}

.footer-icons a {
  color: var(--body-text);
  margin: 0 0.5rem;
  font-size: 1.5rem;
  transition: color 0.2s ease;
  vertical-align: middle;
}

.footer-icons a:hover {
  color: var(--body-hover);
}
/* =========================== */

/* site content styles */
html, body.site {
  font-family: 'Roboto', sans-serif;
  color: var(--body-text);
  height: 100%;
  margin: 0;
  padding: 0;
}

body.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 1;
  padding: 1.5rem 4rem;
  max-width: none;
  background: white;
  border-radius: 8px;
}

.devlog-content {
  max-width: 35em;
  padding: 0 0 1rem 2rem;
}
/* =========================== */