.draw-grid {
  display: grid; grid-template-columns: repeat(24, 20px);
  margin-bottom: 1em;
}

.draw-cell {
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid var(--draw-grid);
  box-sizing: border-box;
}

.draw-cell.on {
  background: var(--draw-grid);
}

.draw-buttons {
  margin-bottom: .5em;
}

.gallery-of-fame {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem 3rem;
}

@media (max-width: 740px) {
  .draw-button {
    font-size: 0.8rem;
  }

  .gallery-of-fame {
    display: grid;
    max-width: 99%;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 2.5rem;
  }
}

@media (max-width: 540px) {
  .draw-grid {
    display: grid; grid-template-columns: repeat(24, 3.8vw);
  }

  .draw-cell {
    width: 3.8vw;
    height: 3.8vw;
    background: white;
    border: 1px solid var(--body-text);
    box-sizing: border-box;
  }
}