.devlog-item {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

.devlog-item:hover {
  color: inherit;
}

.devlog-item:hover .devlog-title h2 {
  color: var(--title-hover)
}

.devlog-title {
  font-family: var(--accent-font);
  margin: 2rem 1rem 0.5rem 1rem;
}

.devlog-title h2 {
  margin: 0;
}

.devlog-big-title {
  font-family: var(--accent-font);
}

.devlog-big-title h1 {
  margin-bottom: 0;
}

.devlog-content {
  margin: 0 2rem 1rem 2rem;
}

@media (max-width: 740px) {
  .devlog-content {
    margin: 0 0.5rem 1rem 0.5rem;
    padding: 0.5 0.5rem;
  }
}