.project-tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 2rem;
}

.project-page-title {
  margin-bottom: 0px;
}

.project-page-subtitle {
  font-family: var(--accent-font);
  color: var(--title-text);
  padding-bottom: 5px;
}

.skills {
  margin-top: 1.5em;
  margin-bottom: -0.4em;
}

.image-subtitle {
  margin-top: -1em;
  font-style: italic;
}

/* img {
  border: 6px solid;
  border-color: #8B6355 #5C3D2E #5C3D2E #8B6355;
} */

@media (max-width: 740px) {
  .project-tiles {
    grid-template-columns: repeat(2, 1fr);
    .button-tile-title {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 430px) {
  .project-tiles {
    .button-tile-title {
      font-size: 1rem;
    }
  }
}