---
layout: default
---
<a href="/projects/{{ page.project }}">← back to project</a>
<h1>{{ page.title }}</h1>

{% assign logs = site.devlogs | where: "project", page.project | sort: "date" | reverse %}
{% for log in logs %}
    <a href="{{ log.url }}" class="devlog-item">
      <div class="devlog-title">
        <h2>{{ log.title }}</h2>
        <time datetime="{{ log.date | date_to_xmlschema }}">
          {{ log.date | date: "%d.%m.%Y" }}
        </time>
      </div>
      <p class="devlog-content">
        {% if log.excerpt %}
          {{ log.excerpt | strip_html | truncate: 200 }}
        {% else %}
          {{ log.content | strip_html | truncate: 200 }}
        {% endif %}
      </p>
    </a>
  </article>
{% endfor %}