---
layout: default
---
<a href="/projects/{{ page.project }}">← back to project page</a>
<h2>{{ page.title }}</h2>

{% assign logs = site.devlogs | where: "project", page.project | sort: "date" | reverse %}
{% for log in logs %}
  <!-- <a href="{{ log.url }}"> -->
    <article>
      <a href="{{ log.url }}">
        <h2>{{ log.title }}</h2>
      </a>
      <em>{{ log.date | date: "%B %-d, %Y" }}</em>
      <div class="devlog-content">{{ log.content }}</div>
    </article>
  <!-- </a> -->
{% endfor %}